# txt files#
###################
std_output.txt
#
###################
# some directories#
#*/
.SCRAM/
src/tmp/main
#
###################
# other files#
*~
*o
*C.d
*C.so
###################
#executables
macro/distribution
###################