# txt files#
###################
std_output.txt
#
###################
# some directories#
#*/
.SCRAM/
output/
src/tmp/
#
###################
# other files#
*~
*.txt
!config/*.txt
*.o
*C.d
*C.so
###################
#executables
macro/distribution
src/tmp/main
###################